{# TODO(junkbot): Make macros for url links #}
{% from "recent_subs_table.html" import recent_subs_table %}

<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>Lorikeet - {% block title %}{% endblock %}</title>
        <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" />
        <link href="{{ url_for('static', filename='prism.css') }}" rel="stylesheet" />
    </head>

    <body>
        <div id="head_bar">
            <div id="header_left">
                <b>Lorikeet</b>
                <a href="{{ url_for('index') }}">[Home]</a>
                <a href="http://orac.amt.edu.au/cgi-bin/train/hub.pl">[Orac]</a>
                <b>Groups</b>
                <a href="{{ url_for('group_scoreboard', groupname='ioi15') }}">
                    [ioi15]</a>
                <a href="{{ url_for('group_scoreboard', groupname='apr15') }}">
                    [apr15]</a>
                <a href="{{ url_for('group_scoreboard', groupname='dec15alpha') }}">
                    [dec15alpha]</a>
                <a href="{{ url_for('group_scoreboard', groupname='dec15beta') }}">
                    [dec15beta]</a>
            </div>
            <div id="search_div">
                <b>Search</b>
                <form id="search_form" action="{{ url_for('search_handle') }}" method="GET">
                    <input type="text" name="query" accesskey="z"
                    title="[alt-z] to focus" />
                    <input type="submit" value="Users" name="users" />
                    <input type="submit" value="Problems" name="problems" />
                </form>
            </div>
        </div>
        <hr>
        {% block body %}
        {% endblock %}

        <script src="{{ url_for('static', filename='prism.js') }}"></script>
    </body>
</html>
