{% macro stats_table(stats, col_header=None, row_header=None) %}

<table class="stats">
    {% if col_header %}
    <thead>
        <tr>
            {% if row_header %}
            <th></th>
            {% endif %}
            {% for h in col_header %}
            <th>h</th>
            {% endfor %}
        </tr>
    </thead>
    {% endif %}
    {% for s in stats %}
    <tr class="sub_data_row recent_subs_row">
        {% if row_header %}
        <th>
            {{ row_header[loop.index0] }}
        </th>
        {% endif %}
        {% for v in s %}
        <td>
            {{ v }}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endmacro %}
