{% extends "layout.html" %}

{% block title %}
Submissions by {{ user.firstname }} {{ user.lastname }} for Set {{ sett.title }}
{% endblock %}

{% block body %}
<h1>{{ user.firstname }} {{ user.lastname }} (<a href="{{ url_for('user_page', username=user.username) }}">{{ user.username }}</a>)</h1>

<h3>
    Recent Submissions for
    <a href="/cgi-bin/train/hub.pl?expand={{ sett.name }}#{{ sett.name }}">
        {{ sett.title }}</a>
    (<a href="{{ url_for('set_page', setname=sett.name) }}">{{ sett.name }}</a>)
</h3>

{{ recent_subs_table(subs, ['name', 'username']) }}

{% endblock %}
